.P-home {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#f48c8d, #f4c58d);

    h1 {
        display: inline;
        margin-top: 50px;
        text-align: center;
        color: #fff;
        font-size: 40px;
    }
    .get_btn{
        line-height: 100%;
        text-align: center;
       
    }

    .ipt-con {
        margin: 20px auto 0;
        float: right;
    }

    .trans {
        margin: 0 auto;
        display: inline-flex;
        flex: wrap column;
        justify-content: space-between;

        .left,
        .right {
            width: 150px;
            height: 150px;
            background-color: aqua;
            border-radius: 30px;
            margin: 20px;
        }

        .right:hover {
            transform: scale(1.2);

        }

        .right {
            transition: transform 0.5s ease;
            line-height: 150px;
            text-align: center;
            font-size: 25px;
        }

        .left:hover {
            transform: rotateX(45deg);
        }
    }
}